html
{
    font-size: 32.5%;
}

body
{
    font-size: 1.6em;
    color: blue;
    display: flex;
    flex-wrap: wrap;
}

header
{
    background-color: rgb(209, 243, 195);
    height: 10em;
    width: 100%;
}

main, aside
{
    width: 80%;
    min-height: 20em;
}

main
{
    background-color: rgba(33, 51, 55, 0.45);
}

aside
{
    background-color: rgb(253, 239, 212);
    width: 20%;
}

footer
{
    background-color: #F7C5E8;
    height: 10em;
    width: 100%;
}

h1
{
    background-color: aquamarine;
    margin: 0;
}