

#perso
{
    width: 50%;
    border: 1px black;
    float: left;
    display: none;
}

#perso.hidden {
    display: inline-block;
}

#statCard 
{
    width: 600px;
    background-color: lightgrey;
    display: grid;
    grid-template-rows: repeat(5, minmax(60px, auto));
    grid-template-columns: 120px 1fr 120px;
    grid-template-areas: "A B B" 
                         "IM IM ATK"
                         "IM IM ARM"
                         "IM IM DMG"
                         "F F F"
}

#divNbr
{
    grid-area: A;
    background-color: #494310;
    color: white;
    padding-left: 2.5em;
    padding-top: 0.5em;
}

#divNbr h1 {
    font-size: 4em;

}

#divTitle
{
    grid-area: B;
    background-color: #494310;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-right: 10em;
}



#divImg
{
    grid-area: IM;
    overflow: hidden;

}

#divImg img {
    
    width: 100%;
}


#divAtk
{
    grid-area: ATK;
    background-color: #555;
}

#statAtk
{
    color: orange;
}

#divArmor
{
    
    grid-area: ARM;
    background-color: #555;
}

#statArmor
{
    color: lightblue;
}

#divDmg
{   
    grid-area: DMG;
    background-color: #555;
}

#statDmg
{
    color: red;
}

.divCardStat
{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#divFoot
{
    grid-area: F;
    background-color: black;
}

#table
{
    float: right;
}