body
{
    
}

* 
{
    box-sizing: border-box;
}

header
{
    background-color: #CCDDFF;
    height: 110px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

main
{
    background-color: #bceeb2;
    height: 549px;
    width: 70%;
    padding: 30px;
}

main ul
{   
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}   

main li
{   
    background-color: white;
    height: 2.5em;
    display:table;
    width: 20em;
    margin-right: 1em;
    margin-bottom: 1em;
}   

.aside1
{   
    background-color: #FFDDCC;
    height: 549px;
    width: 15%;
    padding: 1px;
    gap: 5px;
}   

.aside1 li
{   
    background-color: white;
    height: 2.5em;
    display:table;
    width: 15em;
    margin-bottom: 1em;
    
}

.aside2
{
    background-color: #FFDDCC;
    height: 549px;
    width: 15%;
    padding: 1px;
}


div
{
    display: flex;
}

footer
{
    background-color: #CCDDFF;
    height: 55px;
    width: 100%;
    text-align: center;
    padding: 5px;
}